* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

body {
    overflow-y: scroll;
    position: relative;
    padding-top: 40px;
}

.not-clickable {
    cursor: default;
}

.clickable {
    cursor: pointer;
}